.git
.gitignore

.env
.env.\*
!.env.example

.venv
env
venv
**pycache**
_.py[cod]
_.pyo
\*.pyd

.pytest_cache
.ruff_cache
.mypy_cache
.pyre
.coverage
htmlcov

build
dist
\*.egg-info

docs
api.md

_.log
_.sqlite3
\*.db

.idea
.vscode
